* {
    border: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}

.hidden { display: none; }

html, body { height: 100% }

body { 
  font-family: sans-serif;
  background-color: rgb(184, 177, 177);
  color: rgb(255, 255, 255);
}

/* main header rules */
header {
    background-color: rgb(184, 177, 177);
    position: sticky;
    top: 0;
    text-align: center;
}

#main-logo { width: 300px; padding: 10px 0; }

/* main rules here */
#character_nav {
    text-align: center;
    background-color: #635050;

    background-image: url('../img/destiny_background.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    background-blend-mode: multiply;
}

.characters { list-style-type: none; }

.characters li { 
    position: relative;
    display: inline-block;
    height: 220px;
    margin: 300px 10px 300px;

    background-color: rgb(0, 0, 0);

    text-align: centre;
    cursor: pointer;
}

.characters li h5 {
    position: relative;
    color: rgb(250, 250, 250);
    padding: 12px 8px;

    z-index: 500;
}

.characters li a { text-decoration: none; }

.bumper {
    width: 100%;
    height: 6px;
    background-color: rgb(182, 178, 192);

    transition: height 0.2s ease;

    position: absolute;
}

.characters li:hover .bumper { height: 70px; }

article { padding: 20px; }

/* select the h3 tag inside the article tag on the page */
/* a selector followed by a space and then ANOTHER selector gets a reference to the parent element and then the child element or elements inside of it */
article h3  {
    font-size: 2em;
    text-align: center;
    margin-bottom: 14px;
}

/* select the p tag inside the article tag on the page */
article p {
    width: 80%;
    font-size: 18px;
    line-height: 1.2;
    text-align: center;
    margin: 0 auto;
}

article h2 {
    text-align: right;
}

.sprite {
    width: 250px;
    height: 175px;

    background-image: url('../img/sprite.jpg');
}

#arc { background-position: -450px 0; }
#void { background-position: -950px 0; }
#stasis { background-position: -1460px 0; }
#strand { background-position: -1800px 0; }

.sprite:hover { background-position-y: -170px !important; }
/* footer rules here */
footer {
    color: rgb(180, 171, 171);
    padding: 20px 0;
    text-align: center;
}

.sticky_footer {
    position: sticky;
    top: 100%;

    height: 80px;
    background-color: rgb(37, 30, 30);
}

/* lightbox rules here */

.lightbox { 
    width: 100vw; /* vw = viewport width => screen width */
    height: 100vh; /* vh = viewport height => screen height */

    position: absolute;
    top: 0;
    left: 0;

    background-color: rgba(55, 53, 58, 0.85);
    background-image: url('../img/solar_classes.jpg');
    background-repeat: no-repeat;

    background-size: 1000px; /* 55% of the viewport height */
    background-position: 10px, 70px center;

    z-index: 5000;

    display: none;
}

#lightbox2 { background-image: url('../img/arc_classes.jpg'); }
#lightbox3 { background-image: url('../img/void_classes.jpg');}
#lightbox4 {background-image: url('../img/stasis_classes.jpg');}
#lightbox5 {background-image: url('../img/strand_classes.jpg');}

.lightbox_close {
    position: relative;
    top: 20px;
    left: 95%;

    color: rgb(255, 255, 255);
    font-size: 3em;

    text-decoration: none;

    font-weight: bolder;
}

.lightbox_close:hover { opacity: 0.5; color: rgb(0, 0, 0); }

.lightbox article {
    width: 55%;
    margin-left: 40%;
    padding-top: 50px;
}

.lb_text, .lb_heading { text-align: left; }

.lb_text {
    line-height: 1.6 !important;
    margin-right: 5;
    padding-top: 2em;
    text-align: right;
}

/* turn the lightbox on using the :target pseudo selector */
.lightbox:target { display: block; }

[type="checkbox"]:checked + label {
    color: rgb(88, 87, 85);
    font-style: oblique;
}

[type="checkbox"]:checked:after {
    content: 'Great Choice';
    color: aliceblue;
    margin-left: 55px;
    text-transform: none;
}
